body{
    background-color: rgb(236, 171, 48);
}

.reimbursement-lists{
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-evenly;

}

#user-type{
    display: flex;
    justify-content: space-evenly;
}

.reimbursement-card{
    background-color: rgb(129, 245, 245);
    margin: 20px;
    padding: 20px;
    width: 200px;
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    font-weight: bold;
    border-radius: 8px;

    box-shadow: 2px 2px 8px rgb(73, 73, 73);
}

#view-btn, #delete-btn, #approve-btn, #deny-btn{
    margin: 5px;
    border: 2px solid black;
}



#create-reimbursement{
    position: fixed;
    width: 100%;
    bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

#AmountInputField{
    padding: 7px;
    width: 70%;
    border:2px solid black;
    border-radius: 4px;
}

#DescriptionInputField{
    padding: 7px;
    width: 70%;
    border:2px solid black;
    border-radius: 4px;
}

#create-btn{
    margin-bottom: 3px;
    border:2px solid black;
}

.create-flex{
    display: flex;
    justify-content: space-evenly;
}


