body{
    background-color: rgb(61, 146, 195);
}

#ri-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    
}

